body {
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    border: 5px groove rgb(41, 51, 116);
    padding: 20px;
    color: white;
    background-color:rgba(51, 63, 142, 0.654);
    margin-left: 65px;
    margin-right: 65px;
    text-decoration: underline;
    font-size: 65px;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-left: 65px;
    margin-right:65px;
}

p {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-weight: normal;
    color: white;
    margin-left: 65px;
    margin-right:65px;
    border: 3px double white;
    padding: 15px;
}

ul {
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
    background-color: rgba(255, 255, 255, 0.453);
    margin-left: 65px;
    margin-right: 65px;
    width: 300px;
    margin-bottom: 10px;
    border: 5px dotted white;
}

.what {
    background-color:rgba(51, 63, 142, 0.654); position: static;
    color: white;
    font-family:'Courier New', Courier, monospace;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 65px;
    margin-top: 20px;
    font-size: 20px;
}

.logo {
    position:absolute;
    margin: 0;
    left: 30%;
    top: 70%;
}

.full {
    position:absolute;
    margin: 0;
    left: 53%;
    top: 74%;
}

.agents {
    background-color:rgba(51, 63, 142, 0.654); position: relative;
    color: white;
    font-family:'Courier New', Courier, monospace;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 65px;
    font-size: 20px;
    left: 33%;
}

.reyna {
    position:absolute;
    margin: 0;
    left: 27%;
    top: 121%;
}

.neon {
    position:absolute;
    margin: 0;
    left: 17%;
    top: 125%;
}

.pheonix {
    position:absolute;
    margin: 0;
    left: 57%;
    top: 126%;
}

.yoru {
    position:absolute;
    margin: 0;
    left: 65%;
    top: 126%;
}

.rounds {
    background-color:rgba(51, 63, 142, 0.654); position: relative;
    color: white;
    font-family:'Courier New', Courier, monospace;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 65px;
    font-size: 20px;
    left: 68%;
}

.menu {
    position:absolute;
    margin: 0;
    left: 43%;
    top: 183%;
}

.spike {
    position:absolute;
    margin: 0;
    left: 11%;
    top: 189%;
}

.weapons {
    background-color:rgba(51, 63, 142, 0.654); position: relative;
    color: white;
    font-family:'Courier New', Courier, monospace;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 65px;
    font-size: 20px;
    left: 33%;
}

.judge {
    position:absolute;
    margin: 0;
    left: 19%;
    top: 233%;
}

.vandal {
    position:absolute;
    margin: 0;
    left: 8%;
    top: 247%;
}

.classic {
    position:absolute;
    margin: 0;
    left: 5%;
    top: 268%;
}

.odin {
    position:absolute;
    margin: 0;
    left: 55%;
    top: 243%;
}

.operator {
    position:absolute;
    margin: 0;
    left: 60%;
    top: 255%;
}

.maps {
    background-color:rgba(51, 63, 142, 0.654); position: static;
    color: white;
    font-family:'Courier New', Courier, monospace;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 65px;
    font-size: 20px;
}

.lotus {
    position:absolute;
    margin: 0;
    left: 30%;
    top: 303%;
}

.sunset {
    position:absolute;
    margin: 0;
    left: 63%;
    top: 303%;
}