body {
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    border: 5px groove rgb(41, 51, 116);
    padding: 20px;
    color: white;
    background-color:rgba(51, 63, 142, 0.654);
    margin-left: 65px;
    margin-right: 65px;
    text-decoration: underline;
    font-size: 65px;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-weight: normal;
    color: white;
    margin-left: 65px;
    margin-right:65px;
    border: 3px double white;
    padding: 15px
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size:30px;
    background-color: rgba(255, 255, 255, 0.728);
    margin-left: 65px;
    margin-right: 65px;
}