body {
    background-color:black
}

h1 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    border: 5px dotted lightpink;
    padding: 20px;
    color: white;
    margin-left: 65px;
    margin-right: 65px;
    text-decoration: underline;
    font-size: 65px;
}

.wingman {
    position:fixed;
    bottom:0;
    right: 3%;
    z-index: 4;
}

.reason-1 {
    position: absolute;
    color: white;
    font-family:'Courier New', Courier, monospace;
    width: 300px;
    height: 300px;
    padding: 20px;
    font-size: 20px;
    left: 33%;
    top: 35%;
}

.friends {
    position:absolute;
    margin: 0;
    left: 5%;
    top: 35%
}

.reason-2 {
    position: absolute;
    color: white;
    font-family:'Courier New', Courier, monospace;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 65px;
    font-size: 20px;
    left: 36%;
    top: 77%;
    text-align: center;
}

.skin1 {
    position:absolute;
    margin: 0;
    left: 67%;
    top: 89%;
}

.skin2 {
    position:absolute;
    margin: 0;
    left: 5%;
    top: 89%;
}

.reason-3 {
    position: absolute;
    color: white;
    font-family:'Courier New', Courier, monospace;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 65px;
    font-size: 20px;
    left: 66%;
    top: 132%;
}

.agents {
    position:absolute;
    margin: 0;
    left: 35%;
    top: 140%
}

.reason-4 {
    position: absolute;
    color: white;
    font-family:'Courier New', Courier, monospace;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 65px;
    font-size: 20px;
    text-align: center;
    left: 34%;
    top: 183%;
}

.ranks {
    position:absolute;
    margin: 0;
    left: 64%;
    top: 197%
}

.leaderboard {
    position:absolute;
    margin: 0;
    left: 5%;
    top: 197%
}

.index {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size:30px;
    margin-left: 65px;
    margin-right: 65px;
    top: 238%;
    left: 33%;
    position:absolute;
}

.sentinals {
    position:absolute;
    top: 235%;
    left: 12%;
}

.duelists {
    position:absolute;
    top: 235%;
    left: 58%;
}